Alloy
  TabGroup
    Tab#tabOne
      Window#favoriteWindow.container(title="お気に入り一覧")
        ActivityIndicator#activityIndicator(message="Loading...")
        TableView#tableview.main
          TableViewRow
            Label ダミー