Alloy
  TabGroup
    Tab#tabOne
      Window#mainWindow.container(title="main")
        RightNavButton#add(platform="ios")
          Button(title="Add")
        LeftNavButton#showBtn(platform="ios")
          Button(title="=")
        View#mapview(ns="Alloy.Globals.Map")
    