Alloy
  TabGroup
    Tab#tabOne
      Window#mainWindow.container(title="近くのお店")
        LeftNavButton#LeftNavButton(platform="ios")
          Label#showBtn
        TableView.sub
          TableViewRow(title='リストを見る')
          TableViewRow(title='設定')
          TableViewRow(title='その他')
        View#mapview(ns="Alloy.Globals.Map")
            