Alloy
  TabGroup
    Tab#tabOne
      Window#mainWindow.container(title="近くのお店")
        LeftNavButton#LeftNavButton(platform="ios")
          Label#showBtn
        ActivityIndicator#activityIndicator(message="Loading...")
        TableView#tableview.sub
          TableViewRow
            Label#userLogin.icon
            Label#userInfo ユーザ情報
          TableViewRow
            Label#searchBtn.icon
            Label#searchInfo リストから検索
          TableViewRow
            Label#applicationBtn.icon
            Label#applicationInfo このアプリケーションについて
        View#mapview(ns="Alloy.Globals.Map")
            