Alloy
  TabGroup
    Tab#tabOne
      Window#onTapWindow.container(title="開栓情報から検索")
        LeftNavButton#LeftNavButton(platform="ios")
        ActivityIndicator#activityIndicator(message="Loading...")
        TableView#tableview
          TableViewSection(headerTitle="開栓情報一覧")
          
          

