Alloy
  TabGroup
    Tab#tabOne
      Window#searchWindow.container(title="都道府県から検索")
        LeftNavButton#LeftNavButton(platform="ios")
        ActivityIndicator#activityIndicator(message="Loading...")
        Label "都道府県から検索"
