Alloy
  Window#shopDataDetail.container
    ActivityIndicator#activityIndicator(message="Loading...")    
    View#mapview(ns="Alloy.Globals.Map")
    View#shopInfoView
      Button#phoneIcon
      Button#wantToGoIcon
      Button#feedBackIcon
      Button#webSiteIcon
      Button#shopInfoIcon
    View#phoneDialog.dialog
      Label#titleForPhone.titleLabel
      Label#callBtn(text="はい").regist
      Label#cancelleBtn(text="いいえ").cancelle
      Label#confirmLabel
    View#favoriteDialog.dialog
      Label#titleForFavorite(text="お気に入り登録する").titleLabel
      Label#favoriteDescription(text="ユーザ登録されている方のみ利用できます。").description
      TextArea#favoriteTextArea.textArea       
      Label#favoriteRegistMemoBtn(text="登録する").regist
      Label#favoriteCancelleBtn(text="中止する").cancelle
    View#feedBackDialog.dialog
      Label#feedBackDialogTitle(text="登録情報のフィードバック").titleLabel
      Label#titleForMemo(text="お店の情報に間違いありましたら入力してください").description
      TextArea#feedBackDialogTextArea.textArea
      Label#registMemoBtn(text="報告する").regist
      Label#feedBackCancell(text="中止する").cancelle
    View#webSiteDialog.dialog
      Label#webSiteTitle(text="お店のWebサイト").titleLabel
      Label#webSiteInfo
      Label#webSiteInfoOpenBtn(text="サイトを見る").regist
      Label#webSiteInfoCloseBtn(text="閉じる").cancelle
    View#shopInfoDialog.dialog
      Label#shopInfoDialogTitle(text="お店について").titleLabel
      Label#shopInfo
      Label#feedBackCancelleBtn(text="閉じる").cancelle
    TableView#tableview
      TableViewRow.row

